@model SalesMvc.Models.Order
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Order Lines";
}

<h1>Order Lines</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Id)</th>
            <th>@Html.DisplayNameFor(x => x.Description)</th>
            <th>@Html.DisplayNameFor(x => x.Total)</th>
            <th>@Html.DisplayNameFor(x => x.Customer)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(x => x.Id)</td>
            <td>@Html.DisplayFor(x => x.Description)</td>
            <td>@Html.DisplayFor(x => x.Total)</td>
            <td>@Html.DisplayFor(x => x.Customer.Name)</td>
        </tr>
    </tbody>
</table>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var line in @Model.Orderlines) {
                <tr>
                    <td>@line.Id</td>
                    <td>@line.Product</td>
                    <td>@line.Quantity</td>
                    <td>@line.Price.ToString("c")</td>
                    <td>@line.LineTotal.ToString("c")</td>
                </tr>
            }
    </tbody>

</table>

